
.ssi
{
	color: #c0392b;
	font-style: italic;
	font-weight: bold;
	background: #3498db;
}

.ssi:hover
{
	color:	#3498db;
	background: #c0392b;
}

.ssi:active
{
	color:	yellow;
}

header
{
	text-align: center;;
}
article
{
	min-width: 400px;
	min-height: 150px;
}

a:visited
{
	color: #1abc9c;
}

li:hover
{
	font-weight: bold;
}

body
{
	font-size: 1.2em;
	font-family: Arial,"Comic Sans MS";
	text-align: justify;
	background: #bdc3c7;
	color: #2c3e50;
}

h1
{
	border: 3px rgba(52, 73, 94,0.7) solid;
	border-radius: 10px; 
	box-shadow: 4px 8px 12px #7f8c8d;
	margin: auto;
	width: 450px;
	min-width: 400px;
	word-wrap: break-word;
	overflow: hidden;
}

h2
{
	text-align: left;
}